/* ==========================================================================
   CAB230 CSS

   Jason Chang
   Daniel Wan
   Luke Yeh
   ========================================================================== */


/*========== Text ==========*/

h1 {
    font-family: "Open Sans";
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    margin-top: 0px;
}

h2 {
    font-family: "Open Sans";
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    margin-bottom: 10px;
}

h3 {
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

p {
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}


/*========== General Website Layout ==========*/

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* Fixed background image */
    background: url(../img/parkbackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header-background {
    /* Fixed background going across top of window */
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    /* Really high z-index to keep it on top */
    z-index: 99;
    background: url(../img/grassbanner.jpg);
}

#wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* Keep content within specified width (1024px) and centred */
    width: 980px;
    margin: 0 auto;
}


/*========== Header ==========*/

header {
    height: 60px;
    /* Hack to have FIXED header content inside the wrapper */
    width: 980px;
    position: fixed;
    /* Higher z-index than header-background */
    z-index: 100;
}

header a {
    font-family: "Open Sans";
    color: azure;
    /* No underlining due to hyperlink etc. */
    text-decoration: none;
}

header .logo {
    /* Logo on left side of header */
    float: left;
    font-size: 40px;
    /* Centre it vertically */
    line-height: 60px;
    vertical-align: center;
}


/*========== Nav ==========*/

nav {
    /* Navigation links on right side of header */
    float: right;
}

nav li {
    /* Going from left to right */
    float: left;
    /* No bullet points */
    list-style: none;
    /* Space out the list a bit */
    margin-left: 25px;
}

nav a {
    font-size: 20px;
}


/*========== Main ==========*/

#main-wrapper {
    /* Flex this out so that footer is at bottom of window */
    flex: 1;
    /* Padding to give space for the header */
    padding-top: 75px;
}

main {
    padding: 10px 20px 0 20px;
    /* Box */
    border: 1px solid #afcde3;
    border-radius: 5px;
    background-color: azure;
    opacity: 0.9;
}


/*========== Footer ==========*/

footer {
    height: 60px;
    text-align: center;
    color: azure;
}


/*========== Forms ==========*/

.formInputContainer {
    display: flex;
}

.formInputContainer > div {
    /* Spread out the divs within the container (2 columns) */
    width: 50%;
}

.formInput {
    /* Space out the inputs a bit */
    padding-bottom: 10px;
}

.formInputField {
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    /* Make width slightly less than entire width */
    width: calc(100% - 40px);
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.formInputTitle {
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    height: 24px;
}

.formError {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    height: 24px;
    color: red;
}

.formSubmitButton {
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: gray;
    border: none;
    padding: 9px 36px;
    cursor: pointer;
}

#reviewTextInput {
    height: 120px;
    resize: none;
}


/*========== Search ==========*/

#search {
    color: black;
    text-decoration: none;
    font-family: arial;
}


/*========== Results ==========*/

.resultstable {
    width: 100%;
    margin-bottom: 20px;
    font-family: "Open Sans";
    text-align: left;
}

.resultstable tr:nth-child(even) {
    background-color: white;
}

.resultstable tr:nth-child(odd) {
    background-color: azure;
}

.resultstable th {
    background-color: #afcde3;
}


/*========== Park ==========*/

.review {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: thin solid #afcde3;
}

.review:last-child {
    border-bottom: thin solid #afcde3;
}

.reviewer-info {
    /* Put reviewer info in the center of the box, stacked vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    text-align: center;
}

.reviewer-name {
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
}

.review-stats {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    color: gray;
}

.review-content {
    padding: 10px;
    width: 75%;
    text-align: justify;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

.review-heading {
    display: flex;
    margin-bottom: 10px;
}

.review-rating {
    color: gold;
    font-size: 18px;
    text-shadow: 1px 1px goldenrod;
    margin-right: 10px;
}

.review-title {
    margin: 0;
}


/*========== Other ==========*/

#map {
    margin: auto;
    margin-bottom: 15px;
    width: 930px;
    height: 400px;
}